body{
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg, #43e97b, #38f9d7);
    }
    
    /* Layout */
    .chat-layout{
    display:flex;
    height:90vh;
    margin:20px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    }
    
    /* Sidebar */
    .chat-list{
    width:25%;
    background:#ecf0f1;
    border-right:1px solid #ddd;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    /* Card Guru */
    .chat-user{
    text-align:center;
    padding:20px;
    }
    
    .chat-user img{
        width:70px;
        height:70px;
        border-radius:50%;
        object-fit:cover;
        margin-bottom:10px;
        }
    
    .chat-user span{
    font-weight:bold;
    display:block;
    }
    
    /* Area chat */
    .chat-area{
    flex:1;
    display:flex;
    flex-direction:column;
    }
    
    /* Header */
    .chat-header{
    padding:15px;
    border-bottom:1px solid #ddd;
    background:#1abc9c;
    color:white;
    }
    
    /* Chat box */
    .chat-box{
    flex:1;
    padding:15px;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    background:#fafafa;
    }
    
    /* Bubble */
    .chat{
    padding:10px 15px;
    margin:5px 0;
    border-radius:15px;
    max-width:70%;
    }
    
    /* Guru */
    .guru{
    background:#bdc3c7;
    align-self:flex-start;
    }
    
    /* Siswa */
    .siswa{
    background:#1abc9c;
    color:white;
    align-self:flex-end;
    }
    
    /* Input */
    .chat-input{
    display:flex;
    padding:10px;
    border-top:1px solid #ddd;
    }
    
    .chat-input input{
    flex:1;
    padding:10px;
    border-radius:20px;
    border:1px solid #ccc;
    }
    
    .chat-input button{
    margin-left:10px;
    padding:10px 20px;
    border:none;
    background:#1abc9c;
    color:white;
    border-radius:20px;
    cursor:pointer;
    }